body {
    margin: auto;
}

#list-container {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.logotipo {
    align-items: center;
    width: 100px;
    height: 100px;
}

.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.listas {
    color: aliceblue;
    padding-left: 80px;
    padding-right: 80px;
    list-style: none;
    font-size: 25px;
}

.carrito {
    width: 40px;
    height: 40px;
}

/* #carta-container {
    display: grid;

}

.grid-1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.grid-2 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.grid-3 {
    grid-row: 1/3;
    grid-column: 3/3;
} */



img {
    width: 100pt;
    height: 200pt;
}

